.trivia-listing
  .row
    .col-12-xs
      h3.venue=game.venue.name
  if game.notes && game.notes!=""
    .row
      .col-12-m
        .notes!=game.notes
  .row
    .col-6-m
      h4=game.day +" @ " + game.time
      h5="Hosted By " + game.host.display
    .col-6-m.address
      p=game.venue.address
      p=game.venue.City+", "+game.venue.State
  .row
    .col-12-xs
      //Google appt link: https://www.google.com/calendar/event?eid={event-id}&ctz={timezone}
      ul.utility
        if game.venue.website!=null && game.venue.website!=""
          - var weblink = game.venue.website.indexOf("http")!=-1 ? game.venue.website : "http://"+game.venue.website
          li
            a.button.small(href=weblink,target="_blank") Website
        if game.venue.maplink!=null && game.venue.maplink!=""
          li
            a.button.small(href=game.venue.maplink, target="_blank") Directions
