- var n = 0
while n < locals.length
  .row
    - var i = n
    while i < n+4
      if locals[i]
        .col-3-s
          .host
            if locals[i].photo!="" && locals[i].photo!=null
              .host-thumb(data-bg=locals[i].photo.path,data-info=JSON.stringify(locals[i]))
            else
              .host-thumb.empty
            h2=locals[i].firstname
            .bio-link
              a(href="#",data-info=JSON.stringify(locals[i])) View Bio
      - i++
    - n=n+4
